{% extends "base.html" %}
{% block title %}Add Artists{% endblock %}

{% block content %}
  <h1>Add Artists</h1>
  <p><strong>You may control-click (Windows) or command-click (Mac) 
    to select more than one.</strong></p>
  <form action="/add-artists" method="POST">
    <select name="Artists" multiple="multiple" size=20>
      {% for musician in artists %}
        <option value="{{ musician.artist }}">{{ musician.artist }}</option>
      {% endfor %}
    </select>
  <input type="submit">
  </form>
{% endblock %}