{% extends "base.html" %}
{% block title %}Dislike Artists{% endblock %}

{% block content %}
  <body>
    <h1>Select Artists You Don't Want To Be Shown</h1>
    <p><strong>You may control-click (Windows) or command-click (Mac) 
      to select more than one.</strong></p>
    <form action="/dislike-artists" method="POST">
      <select name="Artists" multiple="multiple" size=20>
        {% for musician in artists %}
          <option value="{{ musician.artist }}">{{ musician.artist }}</option>
        {% endfor %}
      </select>
      <input type="submit">
    </form>
{% endblock %}