{% extends "base.html" %}
{% block title %}New Music{% endblock %}

{% block content %}
  <h1>New Music</h1>
  <ul>
    {% for song in songs %}
      {% if song["features"] != "" %}
        <li><a href={{ song["link"] }} target="_blank">{{ song["artist"] }} - {{ song["song_name"] }}
            feat {{ song["features"] }}</a></li>
      {% else %}
        <li><a href={{ song["link"] }} target="_blank">{{ song["artist"] }} - {{ song["song_name"] }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}