<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
  </head>
  <div class="nav">
    <a href="profile">Profile</a>
    <a href="/new-music">New Music</a>
    <a href="/add-artists">Like Artists</a>
    <a href="/dislike-artists">Dislike Artists</a>
    <a href="/remove-artists">Remove Liked Artists</a>
    <a href="/show-again">Remove Disliked Artists</a>
    <a href="/log-out">Log Out</a>
  </div>
  <body>
    <h1>Profile</h1>
    {% if name %}
      <h3>Hello {{ name }}</h3>
    {% endif %}
  </body>
</html>